body {
  margin: 0;
  font-family: 'Patrick Hand SC', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: 'Patrick Hand SC', cursive;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
.bg-myblack {
  background-color: #171717;
}
.btn-myblack {
  background-color: #171717;
}
.border-myblack {
  border :1px solid #000000 ;
}
